.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
  /* background-color: blue; */
  padding: 10px;
}

h1 {
  position: absolute;
  top: 0;
  text-align: center;
  padding: 20px;
}

.editor-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 100px);
  margin-top: 60px;
  /* background-color: rgb(255, 238, 0); */
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  /* overflow: auto; */
  padding: 20px;
  box-sizing: border-box;
  /* background-color: red; */
}

form {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
  /* background-color:aquamarine; */
}
input {
  text-align: right;
  width: 70%;
  margin: 5px;
  /* padding-right: 20px; */
  float: right ;
}

.form label {
  margin-left: 10px;
}


.form button {
  margin-top: 10px;
  width: 15%;
  float: right;
}

.yaml-viewer {
  width: 65%;
  height: 100%;
  box-sizing: border-box;
  /* overflow: auto; */
  padding: 0 20px;
  /* background-color:blueviolet; */
}

.editor__textarea {
  width: 65%;
  height: 100%;
  resize: none;
  /* background-color: orange; */
}
